<article>
  <div class="article">
    <div class="thumb-header">
      <div class="info">
        <p class="ratio"> {{ (article.upvote_ratio * 10) | number:'1.1-1' }} </p>
        <div class="creation-info">
          <p class="author"> {{ article.author }} </p>
          <p class="date"> {{ article.created | date }}  </p>
        </div>
      </div>
      <span class="comments"> {{ article.num_comments }} comments </span>
    </div>
    <div class="content">
      <h2>
        {{ article.title }}
      </h2>
      <div class="self-text" [innerHtml]="article.selftext"></div>
      <div class="footer-action">
        <button [disabled]="commentsLoaded || article.num_comments === 0" (click)="loadComments()"> Load Comments ({{ article.num_comments }})</button>
      </div>
    </div>
  </div>

  <div *ngIf="comments$ | withLoading | async as comments">
    <ng-template [ngIf]="comments.value">
      <div *ngFor="let comment of comments$ | async">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </ng-template>
    <ng-template [ngIf]="comments.error">
      Could not retrieve data
    </ng-template>
    <ng-template [ngIf]="comments.loading">
      <app-loader></app-loader>
    </ng-template>
  </div>
</article>




