@import 'variables';

$font-size: 2rem;
$font-size-medium: 2rem / 2;
$font-size-small: 2rem / 3;

article {
  margin: 5rem;

  .article {
    background: $thumb-background;
    padding: 1rem;
    box-shadow: $thumb-shadow;

    .thumb-header {

      &,
      .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: $font-size;
        color: $primary;

        .ratio {
          margin: 0 .5rem;
        }

        .creation-info {
          display: flex;
          flex-flow: column;

          .author,
          .date {
            margin: 0;
          }

          .author {
            font-size: $font-size-medium;
          }

          .date {
            margin-top: .3rem;
            font-size: $font-size-small;
          }
        }
      }

      .comments {
        font-size: $font-size-medium;
        text-decoration: none;
        cursor: pointer;
        color: $primary;
      }
    }

    .content {
      margin: 2rem;

      img {
        width: 50%;
        margin: auto;
        display: block;

        @media all and (max-width: 992px) {
          width: 70%;
        }

        @media all and (max-width: 600px) {
          width: 100%;
        }
      }

      .self-text {
        white-space: pre-wrap;
      }

      .footer-action {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
      }
    }
  }
}
