<article>
  <div class="article">
    <div class="thumb-header">
      <div class="info">
        <p class="ratio"> {{ (article.upvote_ratio * 10) | number:'1.1-1' }} </p>
        <div class="creation-info">
          <p class="author"> {{ article.author }} </p>
          <p class="date"> {{ article.created | date }}  </p>
        </div>
      </div>
      <a [href]="article.permalink" target="_blank" class="comments"> Go To </a>
    </div>
    <div class="content">
      <h2>
        {{ article.title }}
      </h2>
      <img *ngIf="article.imageUrl" [src]="article.imageUrl"/>
      <div class="self-text" [innerHtml]="article.selftext"></div>
      <div class="footer-action">
        <button
          [disabled]="commentsLoaded || article.num_comments === 0"
          (click)="loadComments()"
        > Load Comments ({{ article.num_comments }})</button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!!commentsLoaded">
    <div *ngIf="comments$ | async as comments; else loading">
      <div *ngFor="let comment of comments">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>
    <ng-template #loading>
      <app-loader></app-loader>
    </ng-template>
  </ng-container>
</article>




