@import 'variables';

$font-size: 2rem;
$font-size-medium: 2rem / 2;
$font-size-small: 2rem / 3;

article {
  margin: 5rem;

  .article {
    background: $article-background;
    box-shadow: $article-shadow;
    padding: 1rem;
    transform: perspective(50rem) rotateY(-3deg);
    transition: transform 1s ease 0s;

    &:hover {
      transform: perspective(0) rotateY(-4deg);
    }

    .thumb-header {

      &,
      .info {
        color: $primary;
        display: flex;
        flex-direction: row;
        font-size: $font-size;
        justify-content: space-between;

        .ratio {
          margin: 0 .5rem;
        }

        .creation-info {
          display: flex;
          flex-flow: column;

          .author,
          .date {
            margin: 0;
          }

          .author {
            font-size: $font-size-medium;
          }

          .date {
            font-size: $font-size-small;
            margin-top: .3rem;
          }
        }
      }

      .comments {
        color: $primary;
        cursor: pointer;
        font-size: $font-size-medium;
        text-decoration: none;
      }
    }

    .content {
      margin: 2rem;

      img {
        display: block;
        margin: auto;
        width: 50%;

        @media all and (max-width: 992px) {
          width: 70%;
        }

        @media all and (max-width: 600px) {
          width: 100%;
        }
      }

      .self-text {
        white-space: pre-wrap;
      }

      .footer-action {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        width: 100%;
      }
    }
  }
}
