@import 'variables';

.article-comments {
  background: $article-background;
  box-shadow: $article-shadow;
  margin: 1rem 5rem;
  padding: 1rem;
}

.article-comments,
.sub-article-comments {
  margin-left: 3rem;
}
