p {
  text-align: center;
}

.vote-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  .vote-option {
    min-width: 5rem;
    margin: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 2rem;
      height: 2rem;
      line-height: 5rem;
      align-self: center;
    }

    h2,
    p {
      margin: 0;
    }
  }
}