@import 'variables';

.article-comments {
  background: $thumb-background;
  margin: 1rem 5rem;
  padding: 1rem;
  box-shadow: $thumb-shadow;
}

.article-comments,
.sub-article-comments {
  margin-left: 3rem;
}
